.hlogo{

    color:orange;
    font-size:80px;
}

.subheading{
    
    color:orange;
    font-family:Arial, Helvetica, sans-serif;
    font-size:34px;

}

a, .link{
    color: orange;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.subjecth{
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}